.wrapper {
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product-list {
  display: flex;
  flex-direction: column;
}
.product {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 320px;
  text-align: center;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
}

.page-item {
  margin-right: 5px;
}

.active {
  background-color: black;
}

.page-link {
  padding: 5px 10px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.page-link.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  height: 100%;
  background-color: #f1f1f1;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
  padding: 15px;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar li {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.sidebar.active {
  transform: translateX(0);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  text-decoration: none;
}
